@tailwind base;
@tailwind components;
@tailwind utilities;

.prose :where(code):not(:where([class~='not-prose'] *))::before {
  content: '';
}
.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}
